<div class="container">
  <form [formGroup]="heroForm" (ngSubmit)="createPlace(seats.value,type.value)">
      <div class="form-group">
        <label>
          "page.content.type"
        </label>
        <select id="type" formControlName="type" class="form-control" #type >
          <option *ngFor="let type of types"
                  [value]="type">{{type}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="seats">
          "page.content.seats_number"
        </label>
        <input class="form-control" id="seats" formControlName="seats" type="number" #seats>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="heroForm.errors?.placeInvalid">
        "page.content.create_label"
      </button>
  </form>
</div>

